main {
  padding: 100px 20px 40px 20px;
  max-width: 90ch;
  margin: 0 auto;
  text-align: start;
}
main h1 {
  text-align: center;
  padding-bottom: 20px;
}
main ul li {
  margin-top: 20px;
  margin-left: 20px;
  list-style: square;
}
section {
  text-align: center;
  margin: 30px;
  padding-bottom: 100px;
}
section h2 {
  margin: 20px;
}
section iframe {
  max-width: 560px;
}
