body {
  color: #532727;
  font-family: monospace;
  max-width: 2440px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  background: #d8d8d8;
}
header p {
  font-size: 2rem;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.2rem;
}
main {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}
main h1 {
  font-size: 1.5rem;
  padding-top: 100px;
}
main .tema {
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #d8d8d8;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
}

main .areas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  justify-content: center;
  position: relative;
}
main .areas div {
  padding: 10px;
  background: #f1f1f1;
  min-width: 200px;
  max-width: 260px;
  display: grid;
  display: inline-block;
  justify-items: center;
}
main .areas ul p {
  font-size: 1rem;
  text-align: start;
}
main .areas ul li {
  list-style: none;
}
.areas div h2 {
  padding: 20px;
}
.areas div img {
  padding-bottom: 20px;
  max-width: 100%;
}
.areas div::before {
  content: "";
  background-color: black;
  width: 2px;
  height: 40px;
  position: absolute;
  top: -40px;
}
.areas div:nth-child(1)::before {
  background-color: #e5dc03;
}
.areas div:nth-child(1) {
  border: 2px solid #e5dc03;
  background: #ffffb1;
}
.areas div:nth-child(2)::before {
  background-color: #298100;
}
.areas div:nth-child(2) {
  border: 2px solid #298100;
  background: #e1ffd1;
}
.areas div:nth-child(3)::before {
  background-color: #110967;
}
.areas div:nth-child(3) {
  border: 2px solid #110967;
  background: #d8d4ff;
}
.areas div:nth-child(4)::before {
  background-color: #9d0000;
}
.areas div:nth-child(4) {
  border: 2px solid #9d0000;
  background: #ffbbbb;
}
header li a {
  padding: 10px;
  cursor: pointer;
  color: #490000;
}
header li a:hover {
  border-bottom: 2px solid #9d0000;
}

.areas div::after {
  content: "";
  position: absolute;
}
.areas div:nth-child(1)::after {
  width: 200px;
  height: 100px;
  position: absolute;
  top: -140px;
  border-top: 2px solid #e5dc03;
  border-left: 2px solid #e5dc03;
}
.areas div:nth-child(2)::after {
  width: 100px;
  height: 70px;
  position: absolute;
  top: -110px;
  border-bottom: 2px solid #298100;
  border-right: 2px solid #298100;
}
.areas div:nth-child(3)::after {
  width: 100px;
  height: 70px;
  position: absolute;
  top: -110px;
  right: 398px;
  border-bottom: 2px solid #110967;
  border-left: 2px solid #110967;
}
.areas div:nth-child(4)::after {
  width: 200px;
  height: 100px;
  position: absolute;
  top: -140px;
  right: 128px;
  border-top: 2px solid #9d0000;
  border-right: 2px solid #9d0000;
}

.tema-areas {
  position: relative;
}
.tema::after {
  content: "";
  background-color: black;
  width: 2px;
  height: 80px;
  top: 10px;
  position: absolute;
}
.tema::before {
  content: "";
  background-color: black;
  width: 2px;
  height: 80px;
  top: 320px;
  position: absolute;
}
@media (max-width: 1105px) {
  .areas div::before {
    content: "";
    background-color: black;
    width: 2px;
    height: 40px;
    position: absolute;
    top: -40px;
  }

  .areas div::after {
    content: none;
    position: absolute;
  }
}

@media (max-width: 1105px) {
  .areas div:nth-child(4)::before {
    content: none;
  }
  .areas div:nth-child(2)::before,
  .areas div:nth-child(3)::before,
  .areas div:nth-child(1)::before {
    height: 80px;
    top: -80px;
  }
}
@media (max-width: 836px) {
  .areas div:nth-child(4)::before,
  .areas div:nth-child(3)::before {
    content: none;
  }
  .areas div:nth-child(2)::before,
  .areas div:nth-child(1)::before {
    height: 80px;
    top: -80px;
  }
}
@media (max-width: 566px) {
  .areas div:nth-child(4)::before,
  .areas div:nth-child(3)::before,
  .areas div:nth-child(2)::before {
    content: none;
  }
}
